<section class="container">
  <h2 class="titulo">Questionarios</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Id</th>
      <th class="tabela__cabecalho__conteudo">Nome</th>
      <th class="tabela__cabecalho__conteudo">Descrição</th>
      <th class="tabela__cabecalho__conteudo">Ações</th>
    </thead>
    <tbody *ngIf="questionarios?.length > 0; else listaVazia">
      <tr class="tabela__linha" *ngFor="let questionario of questionarios">
        <td class="tabela__conteudo">{{ questionario.id }}</td>
        <td class="tabela__conteudo">{{ questionario.nome }}</td>
        <td class="tabela__conteudo">{{ questionario.descricao }}</td>
        <td class="tabela__conteudo">
          <button class="btn btn-success" (click)="visualizar(questionario)">visualizar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<ng-template #listaVazia>
  <p>Nenhum questionario cadastrado</p>
</ng-template>
